*{
   
    font-family: Arial, sans-serif; /* Default font */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Use border-box model for all elements */             
    text-decoration: none; /* Remove underline from links */
    list-style: none; /* Remove bullet points from lists */
        



} 
